html, body {
    height: 100vh;
    margin: 0;
}

.content {
    min-height: 100%;
    margin-bottom: 100px;
    padding: 10px 100px;
}

footer {
    display: block;
    height: 100px;
    margin-top: -100px;
    background: #404041;
    color: #f4f2f1;
}

.card {
    margin: 10px;
    width: 18rem;
}